[Desktop Entry]
Encoding=UTF-8
Name=dcgui-qt
Name[pl]=dcgui-qt
Comment=Direct Connect client
Comment[pl]=Klient Direct Connect
Icon=dcgui-qt.png
Exec=dcgui-qt
Terminal=false
Type=Application
Categories=Qt;Network;P2P;
# vi: encoding=utf-8
