[Desktop Entry]
Encoding=UTF-8
Name=dcgui
Name[pl]=dcgui
Comment=Direct Connect client
Comment[pl]=Kient Direct Connect
Icon=dcgui.png
Exec=dcgui-qt
Terminal=false
Type=Application

# vi: encoding=utf-8
